{% extends "base/base.html" %}

{% block header %}
   <div class="container">
      <br>
      <h2>Eliminar canino</h2>
   </div>
{% endblock header %}
{% block content %}
   <div class="container">
      <form method="post">
         {% csrf_token %}
         <h3>Desea eliminar el registro del canino {{object.nombre}} ?</h3></h3>
         <button type="submit" class="btn btn-danger">Si, eliminar</button>
         <a class="btn btn-default" href="{% url 'canino:listar_caninos' %}">Cancelar y volver al listado</a>
      </form>
   </div>
{% endblock content %}
